@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
       local('TTLakes-Medium'),
       url('TTLakes-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'),
       local('TTLakes-Regular'),
       url('TTLakes-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'),
       local('TTLakes-Bold'),
       url('TTLakes-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TT Lakes', sans-serif;
  font-weight: normal;
}

p {
  margin: 0;
}

.page-header {
  display: flex;
  padding: 24px 16px;
  background: #fff;
}

.side-header {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.page-header--gap {
  margin-right: 16px;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.side-header__burger {
  border: none;
  background: #ff3e79;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.side-header__burger:hover {
  cursor: pointer;
}

.side-header__burger svg {
  fill: #fff;
  margin: 0 auto;
}

.icon {
  width: 96px;
  height: 50px;
  background-image: url('icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.side-header__divider {
  background: #eaeaea;
  border-radius: 1px;
  width: 2px;
  height: 32px;
}

.page-header__item {
  border: none;
  background: #ff3e79;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.page-header__item:hover {
  cursor: pointer;
}

.page-header__item svg {
  margin: 0 auto;
}

.search-icon {
  width: 16px;
  height: 20px;
  background-image: url('search-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.burger-icon {
  width: 18px;
  height: 16px;
  background-image: url('burger-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.repair-icon {
  width: 20px;
  height: 20px;
  background-image: url('repair-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.box-shadow {
  height: 1px;
  background: #d9fff5;
}

.main-page {
  background: #f8f8f8;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.highlight-title {
  width: 4px;
  height: 40px;
  background-image: url('highlight-title.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
}

.page-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1b1c21;
  margin: 0;
}

.fade-wrapper {
  position: relative;
  overflow: hidden;
}

.links-list {
  display: flex;
  overflow: auto;
  padding-left: 16px;
}

.fade-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(270deg, #f8f8f8 0.04%, rgba(248, 248, 248, 0) 100%);
}

.links-list__item {
  font-family: 'TT Lakes', sans-serif;
  border: none;
  background: none;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #7e7e82;
  min-width: 246px;
}

.link__current {
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.links-list__item:hover {
  cursor: pointer;
}

.b-content {
  padding: 24px 16px;
  padding-bottom: 0;
}

.b-content__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
}

.b-readmore {
  display: flex;
  padding-top: 16px;
  align-items: center;
}

.b-readmore__highlight {
  width: 24px;
  height: 24px;
  background-image: url('readmore-highlight.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.b-readmore__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
}

.company-img {
  width: 320px;
  height: 176px;
  background-image: url('company.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 16px;
}